.container {
    margin: auto;
    max-width: 500px;
    font-family: sans-serif;
}

.heading {
    color: rebeccapurple;
}

.nav-links {
    display: flex;
    list-style: none;
    padding-left: 0;
}

.nav-link-item {
    padding-right: 2rem;
}

.nav-link-text {
    color: white;
    text-decoration: none;
}

.nav-link-text:hover {
    color: white;
    text-decoration: underline;
    color: rebeccapurple;
    transition: 0.3s;
}

body {
    background-color: #121212;
    color: white;
}